<aside role="complimentary">
  <div class="story-promo shadowed">
    <div class="quote">
      <blockquote><a href="/storie/ridurre-rischi.html">le mappe aperte ci aiutsno a capire meglio il nostro mondo e ci permettono di costruire comunità più resilienti, insieme.</a>&rdquo;</blockquote>
    </div>
    <a href="/storie/ridurre-rischi.html" class="image"><img src="/assets/img/alyssa-wright.jpg" alt="Alyssa works with a colleague in Katmandu, Nepal." class="img-responsive" /></a>
    <p class="attribution"><a href="/storie/ridurre-rischi.html">&ndash;Alyssa Wright, <em>Stati Uniti d'America</em></a></p>
  </div>
</aside>
