<div class="container">
  <div class="row">
    <div class="col-md-12 footer-title">
      <h2 class="site-logo">Map<span class="logo"></span>Give</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <nav role="navigation">
        <ul class="footer-nav">
          <li class="first"><a href="/perche-mappare/">Perché mappare?</a>
            <ul>
              <li class="first"><a href="/domande-frequenti/">Domande frequenti</a></li>
              <li><a href="/storie/">Storie</a></li>
            </ul>
          </li>
          <li><a href="/a-proposito-open-mapping/">A proposito dell'Open Mapping</a></li>
          <li><a href="/impara-a-mappare/">Imparare a mappare</a></li>
          <li class="last"><a href="mailto:mapgive@state.gov">Contattaci</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-sm-4 mission">
      <h4>La nostra missione</h4>
      <div class="mission-flag-seal"></div>
      <p>MapGive è un progetto che fa parte del programma "Imagery to the Crowd" dell'unità informazioni umanitarie del Dipartimento di Stato degli Stati Uniti degli Stati Uniti. MapGive vuole trovare nuovi volontari per e coinvolgerli nelle attività on-line legate all'open mapping.</p>
      <div class="row legal">
        <div class="col-sm-12">
          <a href="http://www.state.gov/m/a/ips/">FOIA</a>
          <a href="http://www.state.gov/misc/415.htm">Privacy</a>
          <a href="http://www.state.gov/misc/87529.htm#copyright">Informationi di copyright</a>
          <ul class="social">
            <li class="twitter">
              <h6 class="sr-only">Condividi questa pagina su Twitter</h6>
              <a href="https://twitter.com/mapgive" target="_blank" title="@mapgive"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
