<div class="container">
  <div class="row">
    <div class="col-md-12 footer-title">
      <h2 class="site-logo">Map<span class="logo"></span>Give</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
          <div class="row">
          <nav role="navigation">
              <ul class="footer-nav">
                <li class="first">
                    <a href="/perche-mappare/">Perché mappare?</a>
                  <ul>
                    <li class="first">
                      <a href="/domande-frequenti/">Domande frequenti</a>
                    </li>
                    <li><a href="/storie/">Storie</a></li>
                  </ul>
                </li>
                <li>
                  <a href="/a-proposito-open-mapping/">A proposito dell'Open Mapping</a>
                </li>
                <li>
                  <a href="/impara-a-mappare/">Imparare a mappare</a>
                </li>
                <li><a href="/ulteriori-informazioni/">Ulteriori informazioni</a>
                </li>
                <li class="last">
                  <a href="mailto:mapgive@openstreetmap.it">Contattaci</a>
                </li>
              </ul>
          </nav>
          </div>
          <div class="row">
              <div class="col-sm-6">
                <div class="pull-left media-object">
                  <span class="fbklogo"></span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="pull-left media-object">
                  <span class="wikimedialogo"></span>
                </div>
              </div>
          </div>
      </div>
    </div>
    <div class="col-sm-4 mission">
      <h4>La nostra missione</h4>
      <p>MapGive è un progetto che fa parte del programma "Imagery to the
         Crowd" dell'unità informazioni umanitarie del Dipartimento di Stato
         degli Stati Uniti. Mapgive vuole trovare nuovi volontari per e
         coinvolgerli nelle attività on-line legate all'open mapping. MapgiveIT
         ne è la traduzione ed adattamento in italiano ad opera del Digital
         Commons Lab della Fondazione Bruno Kessler di Trento e della
         comunità italiana di OpenStreetMap.
      </p>
      <div class="row legal">
        <div class="col-sm-12">
          <a href="/ulteriori-informazioni/">Ulteriori informazioni</a>
          <a href="http://mapgive.state.gov/">Mapgive (en)</a>
          <ul class="social">
            <li class="twitter">
              <h6 class="sr-only">Condividi questa pagina su Twitter</h6>
              <a href="https://twitter.com/OpenStreetMapIt" target="_blank"
                 title="@OpenStreetMapIt"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
