<ul class="social">
  <li class="share">Condividi</li>
  <li class="mail">
    <h6 class="sr-only">Invia questa pagina tramite email</h6>
    <a href="mailto:?subject={{ page.emailSubject }}&amp;body={{ page.emailDescription }}%0D%0D{{ site.url }}{{ page.url }}" title="Condividi questa pagina via e-mail"></a>
  </li>
  <li class="facebook">
    <h6 class="sr-only">Condividi questa pagina su Facebook</h6>
    <a href="http://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" title="Condividi questa pagina su Facebook"></a>
  </li>
  <li class="twitter">
    <h6 class="sr-only">Condividi questa pagina su Twitter</h6>
    <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}" target="_blank" title="Condividi questa pagina su Twitter"></a>
  </li>
  <li class="plus">
    <h6 class="sr-only">Condividi questa pagina su Google+</h6>
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" title="Condividi questa pagina su Google Plus"></a>
  </li>
</ul>
