<aside role="complimentary">
  <div class="story-promo shadowed">
    <div class="quote">
      <blockquote><a href="/storie/fai-la-differenza.html">Se il mondo intero fosse mappato, potremmo gestire le nostre risorse meglio che se non lo fosse.</a>&rdquo;</blockquote>
    </div>
    <a href="/storie/fai-la-differenza.html" class="image"><img src="/assets/img/kepha-ngito.jpg" alt="Kepha Ngito a Nairobi in Kenya." class="img-responsive" /></a>
    <p class="attribution"><a href="/storie/fai-la-differenza.html">&ndash; Kepha Ngito, <em>Kenya</em></a></p>
  </div>
</aside>
