<aside role="complimentary">
  <div class="story-promo shadowed">
    <div class="quote">
      <blockquote><a href="/storie/reagire-alle-catastrofi.html" class="hyphenate">Nel mondo sviluppato è facile dare per scontata la disponibilità di informazioni geografiche dettagliate</a>&rdquo;</blockquote>
    </div>
    <a href="/storie/reagire-alle-catastrofi.html" class="image"><img src="/assets/img/philippines-story.jpg" alt="I mappatori fanno la reviosione dei loro materiali nelle Filippine." class="img-responsive" /></a>
    <p class="attribution"><a href="/storie/reagire-alle-catastrofi.html">&ndash;Tyler Machado, <em>Stati Uniti d'America</em></a></p>
  </div>
</aside>
