---
layout: default
title: Domande frequenti
twitterDescription: "Hai delle domande a proposito dei progetti umanitari di mappatura digitale? #Mapgive ha le risposte!"
ogDescription: "Trova le risposte alle domande frequenti a proposito del progetto #Mapgive."
ogImage: "/assets/img/open-graph-logo.png"
emailSubject: Hai domande su MapGive?
emailDescription: "Hai domande su Mapgive? Trova le risposte alle domande frequenti."
---

<div class="row">
  <div class="col-md-8">
    <header role="header">
      <h1 class="page-title">{{ page.title }}</h1>
    </header>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include social-media.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <dl class="js-accordion accordion">
      <dt id="title1" tabindex="0">Chi può mappare? Che cosa bisogna
      fare?</dt>

      <dd id="panel1">
        <p>Non è necessario avere alcun superpotere per aiutare a
        mappare. Chiunque abbia un computer ed una connessione a Internet
        può dare un contributo. Ecco una veloce guida in passo per
        cominciare:</p>

        <ol>
          <li>Crea un account su <a href="http://www.openstreetmap.org/"
          target="_blank">OpenStreetMap</a></li>

          <li>Imparare e fai pratica con la mappatura (tracciamento delle
          immagini da satellite e etichettatura degli elementi)</li>

          <li>Mappa/digitalizza una determinata area nel Task Manager di
          HOT (facendo tracciamento dalle immagini satelittari ed
          aggiundendo attributi)</li>
        </ol>

        <p>Nota: non è possibile mappare da dispositivi mobili.</p>
      </dd>

      <dt id="title2" tabindex="0">Perché c'è bisogno di mappatori quando
      sono disponibili della immagini satellitari?</dt>

      <dd id="panel2">
        <p>Molte persone sono convinte che dati geografici dettagliati e
        accessibili siano sempre disponibili - purtroppo spesso non è
        così. Avere dati geografici di qualità può essere costoso o
        semplicemente quei dati possono non esistere. L'impegno dei
        volontari permette di costruire una base di dati e di renderla
        liberamente disponibile a tutti.</p>
      </dd>

      <dt id="title3" tabindex="0">Come si fa a sapere che le
      informazioni fornite dai volontari siano precise?</dt>

      <dd id="panel3">
        <p>Alcuni membri pi`u esperti della comunità on-line dei
        mappatori esaminano alcuni campioni di modifiche della mappa come
        processo di controllo qualità. Quando un mapper completa un
        riquadro nell'HOT task manager viene visualizzato in rosso. Poi,
        un mappatore esperto, in genere un membro dell'HOT (Humanitarian
        OpenStreetMap Team, squadra umanitaria OpenStreetMap) fa una
        revisione di un campione di tali modifiche per validare il
        lavoro. I riquadri revisionati e validati sono visualizzati in
        verde. Se le modifiche non hanno un livello di qualità
        accettabile, allora il revisore può ripristina allo stato
        precedente (ossia, ancora da procecssare) e il riquadro viene
        nuovamente visualizzato in grigio e viene restituisce al gestore
        di task per essere mappato nuovamente. Inoltre, grazie al gran
        numero di mapper volontariati che forniscono dati, le
        informazioni sono spesso auto-controllate dalla stessa comunità
        online dei mappatori.</p>
      </dd>

      <dt id="title4" tabindex="0">In che modo OpenStreetMap/HOT si
      differenzano rispetto ad altri fornitori di mappe online ed a
      strumenti come Ushahidi ed altri?</dt>

      <dd id="panel4">
        <p><a href="http://www.openstreetmap.org/" target=
        "_blank">OpenStreetMap</a> e <a href="http://www.ushahidi.com/"
        target="_blank">Ushahidi</a> lavorano insieme. Ushahidi è un
        progetto open source che permette agli utenti di creare
        collaborativamente informazioni per la loro distribuzione sui
        dispotivi mobili. Tali piattaforme non possono funzionare senza i
        dati geografici di base, quindi i dati della mappa forniscono un
        legame tra le segnalazioni dei cittadini e le successive
        azioni.</p>

        <p>Mapquest Open modifica direttamente i dati OpenStreetMap ed è
        focalizzata principalmente sugli Stati Uniti</p>

        <p>Microsoft Bing permette ad OSM di utilizzare alcune delle sue
        immagini satellitari.</p>

        <p>Molti altri fornitori di mappe online non forniscono i loro
        dati nel pubblico dominio. In sostanza, utilizzando alcuni
        strumenti, si creano dati che poi sono di proprietà di un certo
        fornitore di mappe. Generalmente questi fornitori impongono anche
        delle restrizioni relativa all'utilizzo delle mappe create e,
        soprattutto, dei dato utilizzati per creare le mappe stesse.</p>
      </dd>

      <dt id="title5" tabindex="0">Che cosa l'HOT?</dt>

      <dd id="panel5">
        <p>L'<a href="http://hot.openstreetmap.org/" target=
        "_blank">Humanitarian OpenStreetMap Team</a> (HOT, squadra
        umanitaria OpenStreetMap) è una organizzazione non-profit
        statunitense (costituita secondo la legge 501c(3) che coordina le
        operazioni di mappatura di mapper volontari on-line e sul posto
        attraverso OpenStreetMap per progetti umanitari. Le azioni
        dell'Humanitarian OpenStreetMap Team hanno avuto volta un impatto
        significativo per la prima volta a sostegno degli sforzi
        umanitari successivi al terremoto che ha colpito Haiti nel 2010.
        La sua missione è quella di applicare i principi dell'open source
        e della condivisione dei dati aperti (open data) ai progetti di
        risposta umanitaria e di sviluppo economico.</p>
      </dd>

      <dt id="title6" tabindex="0">Che cos'è il progetto "Imagery to the
      Crowd" della Humanitarian Information Unit?</dt>

      <dd id="panel6">
        <p>Molti sforzi del movimento di mappatura globale sono
        supportati dalle immagini satellitari rilasciate dalla
        Humanitarian Information Unit, (HIU, Unità di Informazione
        Umanitaria) del Dipartimento di Stato degli Stati Uniti d'America
        attraverso il progetto <a href=
        "https://hiu.state.gov/ittc/ittc.aspx" target="_blank">Imagery to
        the Crowd</a> (IttC). OpenStreetMap utilizza queste immagini
        memorizzandole e scomponendole in sezioni di piccola dimensioni
        che i volontari possono tracciare ed arricchire con attributi (un
        processo chiamato "digitalizzazione" o "mappatura"). Il progetto
        IttC collabora con l'Humanitarian OpenStreetMap team (HOT) ed ha
        lanciato numerosi progetti di successo in diversi luoghi della
        Terra, tra cui a Gulu in Uganda, Kathmandu in Nepal e Tacloban
        nelle Filippine.</p>
      </dd>

      <dt id="title7" tabindex="0">In quale modo i dati delle mappe sono
      utili alle persone, alle comunità, alle imprese ed alle
      associazioni, ecc.?</dt>

      <dd id="panel7">
        <p>Una mappa è una rappresentazione gradica di un insime di dati
        geografici. C'è una notevole differenza tra i dati della mappa e
        la mappa stessa. Essere in grado di condividere i dati con una
        comunità fornisce ai membri della comunità stessa una base di
        informazioni geografiche che li aiutano ad identificare i
        problemi ed a comunicare l'uno con l'altro con un linguaggio
        comune. Im questo modo una comunità locale può unire i propri
        sforzi per rispondere ad una vasta gamma di bisogni legati allo
        sviluppo economico, alla gestione delle risorse ambientali ed
        alla risposta alle crisi.</p>
      </dd>
    </dl>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include more-info.html %}
  </div>
</div>
