---
layout: default
title: Impara a mappare
twitterDescription: "Inizia a mappare in tre semplici passi con #MapGive."
ogDescription: "Inizia a mappare in tre semplici passi con la video guida di #MapGive, segui le istruzioni."
ogImage: "/assets/img/how-to-map.jpg"
ogVideo: "http://youtu.be/9Jz-xn9mw7E"
emailSubject: Fatti coinvolgere dal mapping collaborativo.
emailDescription: "Inizia a mappare in tre semplici passi. Crea un account OpenStreetMap, fai pratica con la nostra videoguida che ti accompagnerà passo-passo e scegli un'area da mappare."
---

<div class="row">
  <div class="col-md-8">
    <header role="header">
      <h1 class="page-title">{{ page.title }}</h1>
    </header>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include social-media.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <section>
      <p>Questo sito fornisce una guida passo-passo per aiutare volontari
      come te ad impara a mappare ed a farsi coinvolgere nelle iniziative
      umanitarie collegate.</p>

      <ol class="steps">
        <li class="step">
          <div class="row">
            <div class="col-sm-9 col-md-9">
              <div id="step-1"></div>

              <div class="title">
                Creare e configurare il proprio account su <a href=
                "https://www.openstreetmap.org/user/new" target=
                "_blank">OpenStreetMap</a>.
              </div>
            </div>

            <div class="col-sm-3 col-md-3">
              <div class="estimate">
                <p class="estimate-title">Durata</p>
                <p>5-10 minuti</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-9 col-md-9">
              <p>Puoi creare il tuo account su OpenStreetMap. 
              Dopo aver confermato il tuo account OSM e
              aperto la prima mappa, torna qui.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <dl class="js-accordion accordion">
                <dt id="accordion1-title1" tabindex="0">Ulteriori
                informazioni a proposito della creazione dell'account</dt>

                <dd id="accordion1-panel1">
                  <p>Visita <a href=
                  "https://www.openstreetmap.org/user/new">OpenStreetMap</a>,
                  e iniziare a creare il tuo account.</p>

                  <p>Durante la procedura di creazione dell'account saranno
                  visualizzato le "Condizioni generali di utilizzo per i
                  contributori". Queste possono essere diverse a seconda
                  del paese in cui si vive. È possibile selezionare
                  "Italia", "Francia" o "Resto del mondo" se si vive in
                  un altro paese.</p>

                  <p>Clicca sulla casella di controllo
                  per consentire le modifiche che farai saranno nel
                  pubblico dominio. Questo garantisce che tutti i dati
                  che inserirai nella mappa siano aperti e disponibili 
                  al mondo. Una volta fatto questo,
                  clicca su "Accetto".</p>

                  <p>Controlla la tua e-mail e conferma il tuo account
                  OpenStreetMap facendo clic sul link fornito.</p>

                  <p>Ora che hai il tuo account, puoi passare alla Fase 2
                  per imparare a mappare e fare pratica con il processo
                  di mappatura.</p>
                </dd>
              </dl>
            </div>
          </div>
        </li>

        <li class="step">
          <div class="row">
            <div class="col-sm-9 col-md-9">
              <div id="step-2"></div>

              <div class="title">
                Impara a mappare con noi. Guarda il video e segui le
                istruzioni.
              </div>
            </div>

            <div class="col-sm-3 col-md-3">
              <div class="estimate">
                <p class="estimate-title">Durata</p>
                <p>1-3 ore</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <ol>
                <li>Questa guida ti accompagnerà attraverso il 
                processo di mappatura.</li>

                <li>Potrai fare pratica con la mappatura di un posto
                che non hai mai visitato.</li>
              </ol>

              <h2>Impara a mappare in OpenStreetMap</h2>

              <div class="video">
                <div class="video-player-container shadowed" data="Ir-3K0pjwOI">
                  <img alt=
                  "Video di YouTube incorporato: Imparare a Map in OpenStreetMap. Premi la barra spaziatrice o Invio per riprodurre video."
                  class="img-responsive" src="/assets/img/how-to-map.jpg" />

                  <div class="play" tabindex="0">
                    <span class="play-button"></span>
                  </div>
                </div>

                <p class="caption"><a href= "/trascrizioni/impara-a-mappare.html">Leggi
                la trascrizione del video.</a>
                </p>
              </div>

              <dl class="js-accordion accordion">
                <dt id="accordion2-title1" tabindex="0">Leggi le
                istruzioni</dt>

                <dd id="accordion2-panel1">
                  <p>Obiettivo: imparare a mappare dei punti (utilizzati
                  per contrassegnare luoghi), linee (utilizzati per
                  contrassegnare strade e sentieri) ed aree (utilizzate
                  per marcare i contorni di edifici, campi, o qualsiasi
                  altra zona di grandi dimensioni) su OpenStreetMap.
                  Assicurati di aver già creato un account OpenStreetMap.
                  È possibile trovare le istruzioni su come farlo nella
                  Fase 1.</p>

                  <p>Sia che tu sia nuovo alla mappatura on-line o abbia
                  già familiarità con il processo, questa guida ti
                  spiegherà quali sono gli strumenti ed il flusso di
                  lavoro per contribuire a OSM. Assicurati di avere da 
                  1 a 3 ore a disposizione per poter seguire questa
                  guida.</p>

                  <p><strong>Panoramica di OpenStreetMap</strong></p>

                  <p>Accedi a OpenStreetMap.</p>

                  <p>Prova i comandi della mappa sul lato destro dello
                  schermo. Si può aumentare o diminuire lo zoom della 
                  mappa oppure visualizzare la propria posizione.
                  Selezionare tra diversi layer della mappa, 
                  visualizzare le chiavi e fare commenti.</p>

                  <p>Prova la funzione di ricerca OpenStreetMap sul lato
                  sinistro dello schermo. Cerca una località qualsiasi;
                  digita una posizione per caricare una mappa di quella zona.</p>

                  <p>Usa il pulsante per aumentare lo zoom sulla destra
                  dello schermo per esaminare la mappa più da vicino. A
                  seconda del luogo che hai selezionato, dovresti essere
                  in grado di vedere i tre elementi principali di
                  OpenStreetMap: <strong>punti</strong>, 
                  <strong>linee</strong> e <strong>aree</strong>.</p>

                  <p><strong>Come fare modifiche in 
                  OpenStreetMap</strong></p>

                  <p>Per creare <strong>punti</strong>, 
                  <strong>linee</strong> e <strong>aree</strong> in 
                  OpenStreetMap, fai clic sulla casella a discesa 
                  accanto alla parola <strong>Modifica (Edit)</strong>.
                  Seleziona l'opzione <strong>Modifica con iD (Edit
                  with iD)</strong> (editor nel browser).</p>

                  <p>L'editor "iD" si apre mostrando la posizione
                  selezionata in precedenza.</p>

                  <p>Nella parte superiore dell'editor iD puoi trovare 
                  i comandi principali. Seleziona un'azione da eseguire:
                  mappare un punto, una linea o un'area. I pulsanti per
                  tornare indietro, avanti e salvare sono disponibili
                  anche in cima alla pagina.</p>

                  <p>Facendo clic su <strong>Salva</strong> dopo aver
                  effettuato una modifica, le tue modifiche saranno 
                  sono subito visibili al mondo intero.
                  <strong>Ricordati di salvare spesso!</strong></p>

                  <p>Usa la finestra di dialogo sulla sinistra della
                  mappa per inserire informazioni sui punti, le linee e
                  le aree che mappi. Non è necessario conoscere il nome
                  del luogo, della strada o dell'area che stai mappando.
                  Anche solo segnalarlo sulla mappa è molto utile per 
                  gli altri che potranno aggiungere successivamente
                  dei dettagli.</p>

                  <p><strong>Tutorial passo-passo</strong></p>

                  <p>A destra della mappa, c'è un pulsante di
                  <strong>aiuto</strong> e l'opzione per avviare il
                  <strong>tutorial</strong> che ti guiderà attraverso 
                  il processo di modifica in OpenStreetMap. Potresti 
                  aver già completato il tutorial in precedenza, ma se
                  non l'hai ancora fatto, segui la procedura guidata
                  per acquisire familiarità con gli elementi dell'editor
                  iD e su come visualizzare gli edifici, le strade e 
                  le aree nelle immagini satellitari.</p>

                  <p><strong>Seleziona un'area per inziare a fare
                  pratica con la mappatura.</strong></p>

                  <p>Seleziona una zona con pochi dati pre-esistenti
                  sulla mappa, un'area che non si trovi in una grande
                  città o in un'area fortemente sviluppata. Digita il 
                  nome del luogo in cui vuoi iniziare a fare pratica 
                  nella casella di ricerca e clicca su 
                  <strong>OK</strong>.
                  Verrà visualizzata una mappa dell'area selezionata.
                  </p>

                  <p><strong>Mappare un punto</strong><br />
                  Per mappare un punto nell'editor iD su
                  OpenStreetMap:</p>

                  <ul>
                    <li>Clicca sul pulsante <strong>Punto</strong> in
                    alto a sinistra; diventerà blu per indicare che è 
                    stato selezionato. Quindi clicca sulla posizione 
                    nella mappa dove si trova l'edificio o l'area 
                    che vuoi definire.</li>

                    <li>Viene visualizzata l'icona di un segnaposto che
                    indica un "<strong>punto</strong>" (nodo).
                    ( <a href="http://wiki.openstreetmap.org/wiki/Node"
                    target="_blank">Il wiki di OpenStreetMap definisce
                    un nodo</a> come: "Uno degli elementi fondamentali 
                    nel modello dei dati di OpenStreetMap. 
                    È costituito da un singolo punto nello spazio 
                    definito dalla sua latitudine, longitudine ed 
                    identificativo".)</li>

                    <li>La finestra di dialogo <strong>modifica
                    elemento</strong> appare anche alla sinistra della
                    mappa con una serie di suggerimenti descrittivi. Se
                    si conosce il nome dell'edificio o dell'area, o
                    dettagli aggiuntivi, è possibile inserirlo qui.</li>

                    <li>Una volta che hai finito di aggiungere dettagli
                    collegati al nodo, puoi chiudere la finestra di
                    dialogo facendo clic sulla <strong>X</strong> a
                    destra di <strong>modifica elemento</strong> in
                    alto.</li>

                    <li>Per modificare nuovamente il nodo, puoi fare
                    nuovamente clic su di esso e la finestra di dialogo
                    riapparirà.</li>

                    <li>Per eliminare un nodo non corretto, o creato per
                    errore, fai clic sul nodo. Un icona con un cestino
                    apparirà accanto al nodo, cliccando su di essa
                    rimuoverai il nodo.</li>

                    <li>Se hai bisogno di tornare indietro di alcune
                    modifiche puoi fare clic sulla freccia indietro nella
                    parte superiore dell'editor. Analogamente, la freccia
                    in avanti ripete le modifiche recenti annullate.</li>

                    <li>Quando hai finito di fare modifiche puoi fare
                    clic sul pulsante Salva nella parte superiore
                    dell'editor per assicurarti che le modifiche vengano
                    registrate nel database di OpenStreetMap.</li>
                  </ul><br />

                  <p><strong>Mappare una linea</strong><br />
                  Per mappare una linea nell'editor iD di
                  OpenStreetMap:</p>

                  <ul>
                    <li>Fai clic sul pulsante <strong>Linea</strong>
                    nella parte superiore dell'editor iD, il pulsante
                    diventerà blu per indicare che è stato
                    selezionato.</li>

                    <li>Clicca su una posizione sulla mappa. Apparirà un
                    punto dal quale ha inizio una linea.</li>

                    <li>Cliccando su un altro altro punto sulla mappa
                    apparirà un altro punto e la linea collegherà questi
                    due punti.</li>

                    <li>Disegna più punti per creare la linea, infine
                    premi il pulsante <strong>Esc</strong> sulla tastiera
                    per finire di disegnare la linea.</li>

                    <li>La linea sarà evidenziata in colore rosso per
                    indicare che è stato creata ed una finestra di
                    dialogo si aprirà sulla sinistra dell'editor.</li>

                    <li>Specifica se la linea è una strada, un percorso,
                    un fiume o seleziona una delle altre opzioni.</li>

                    <li>Puoi essere più specifico o più generale a
                    seconda dell'immagine satellitare.</li>

                    <li>Per modificare una linea che è già stato creata,
                    clicca su di essa. La finestra di dialogo si riaprà,
                    inoltre apparirà l'icona del cestino accanto alla
                    linea.</li>

                    <li>Ricorda sempre di cliccare sul pulsante salva
                    nella parte superiore dell'editor in modo che le
                    modifiche vengono registrate nel database di
                    OpenStreetMap.</li>
                  </ul><br />

                  <p><strong>Mappare un'area</strong><br />
                  Un'area può essere un parco, un edificio, un lago, una
                  foresta o di altri tipi di terreno pieno. Per mappare
                  un'area nell'editor iD di OpenStreetMap:</p>

                  <ul>
                    <li>Fai clic sul pulsante Area nella parte superiore
                    dell'editor; , il pulsante diventerà blu per indicare
                    che è stato selezionato.</li>

                    <li>Seleziona i bordi dell'edificio o del terreno che
                    desideri definire. Basta cliccare sugli angoli e
                    l'editor riempirà lo spazio interno.</li>

                    <li>Una volta che hai pienamente delineato l'oggetto
                    che desideri, clicca due volte sull'ultimo punto
                    creato per completare l'area. L'area diventerà rossa
                    per indicare che è stata creata.</li>

                    <li>Una finestra di dialogo apparirà sulla sinistra
                    dell'editor e permetterà di classificare l'area che
                    hai appena definito. Ci sono numerose opzioni che
                    permettono di essere più generali o più
                    specifici.</li>

                    <li>Se non conosci il nome specifico dell'area,
                    lascia vuota questa sezione. Assegna come etichetta
                    quello che riesci vedere dalle immagini satellitari;
                    per esempio "lago" (lake) o "edificio"
                    (building).</li>

                    <li>Fai clic su Salva nella parte superiore
                    dell'editor per assicurarti che le modifiche vengano
                    registrate nel database di OpenStreetMap.</li>

                    <li>Una volta che si preme il pulsante salva le
                    modifiche sono subito online e diventano parte dei
                    dati OpenStreetMap, sono quindi immediatamente
                    disponibili a chiunque nel mondo, anche se probabilmente
                    dovrai attendere qualche minuto per visualizzare sulla
                    mappa le modifiche da te compiute.</li>

                    <li>Prova ora a mettere in pratica ciò che hai appena
                    imparato. Una volta che ti senti sicuro della tua
                    capacità di mappare, continua.</li>
                  </ul><br />

                  <p>Congratulazioni per aver completato la Fase 2!</p>
                </dd>
              </dl>
            </div>
          </div>
        </li>

        <li class="step last">
          <div class="row">
            <div class="col-sm-9 col-md-9">
              <div id="step-3"></div>

              <div class="title">
                Scegli un'attività di mappatura dall'elenco e inserisci i
                dati.
              </div>
            </div>

            <div class="col-sm-3 col-md-3">
              <div class="estimate">
                <p class="estimate-title">Durata</p>

                <p>30 minuti o più</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h2>Come selezionare un'attività nel gestore dei task
              OpenStreetMap</h2>

              <div class="video">
                <div class="video-player-container shadowed" data="73XCpTgyhSk">
                  <img alt=
                  "Video di YouTube incorporato: Come selezionare un Task Manager in OpenStreetMap Tasking. Premere la barra spaziatrice o Invio per riprodurre video."
                  class="img-responsive" src=
                  "http://mapgive.state.gov/assets/img/how-to-select.jpg" />

                  <div class="play" tabindex="0">
                    <span class="play-button"></span>
                  </div>
                </div>

                <p class="caption"><a href=
                  "/trascrizioni/gestore-task-osm.html">
                Leggi la trascrizione del video</a></p>
              </div>

              <dl class="js-accordion accordion">
                <dt id="accordion3-title1" tabindex="0">Leggi le
                istruzioni</dt>

                <dd id="accordion3-panel1">
                  <p>Obiettivo: Seleziona un <a href=
                  "http://mapgive.state.gov/learn-to-map/#select-a-task"
                  target="_blank">task</a> e mappa un riquadro. Non c'è
                  bisogno di essere sul e non c'è bisogno di conoscere i
                  nomi delle strade e degli edifici. Potrai usare le
                  immagini satellitari e tracciare strade, sentieri,
                  edifici ed aree.</p>

                  <p>Il tempo stimato da impiegare ogni volta che
                  lavorari su un nuovo <strong>riquadro</strong> della
                  mappa che è parte di <strong>un'attività:</strong> è di
                  30 minuti o più.</p>

                  <ul>
                    <li>Seleziona l'<a href=
                    "http://mapgive.state.gov/learn-to-map/#select-a-task"
                    target="_blank">attività</a> sulla quale desideri
                    lavorare; si aprirà una nuova scheda o finestra nel
                    tuo browser (dipende dalle impostazioni del browser),
                    arriverai direttamente alla pagina relativa al task
                    di mappatura sul Gestore di task di
                    OpenStreetMap.</li>

                    <li>Accedi con il tuo account OpenStreetMap. Se hai
                    già effettuato il login su OpenStreetMap, non sarà
                    necessario inserire nuovamente le informazioni di
                    accesso.</li>

                    <li>Vedrai una mappa ed alcune informazioni relative
                    all'attività da svolgere comprese le istruzioni su
                    cosa mappare.</li>

                    <li>Seleziona un <strong>riquadro</strong> su cui
                    lavorare.</li>

                    <li>Usa la mappa interattiva per zoomare sui riquadri
                    evidenziati. Il lavoro viene suddiviso in piccole
                    aree sulla mappa per consentirti di mappare un po'
                    alla volta piuttosto che cercare di mappare l'intera
                    area. Ciò consente anche ad altri di mappare
                    simultaneamente altre riquadri o zone delle
                    mappa.</li>

                    <li>Quando si seleziona un <strong>riquadro</strong>,
                    il tuo <strong>compito</strong> è quello di mappare
                    quella specifica zona tracciando le immagini
                    satellitari.</li>

                    <li>I riquadri grigi rappresentano tutte le zone
                    disponibili. I riquadri rosse sono aree che sono
                    state contrassegnate come eseguite. I riquadri verdi
                    sono aree che sono state contrassegnate come esegueti
                    e che sono stati successivamente revisionate e
                    validate. I riquadri di colore grigio con il contorno
                    giallo sono le aree che sono attualmente in
                    lavorazione.</li>

                    <li>Clicca su un riquadro grigio per selezionarlo. Si
                    aprirà una scheda relativa all'attività. Quindi fai
                    clic sul pulsante verde che dice: &quot;Sì, voglio
                    lavorare su questo compito&quot;. Selezionando un riquadro
                    lo stai &quot;riservando&quot; (check out). Nessun altro 
                    sarà n grado di modificare quel riquadro mentre tu stai
                    lavorando su di esso. Dopo aver completato la
                    mappatura di quel riquadro sarà necessario renderlo
                    di nuovo disponibile (check in) di modo che altri
                    possono validare o sviluppare il vostro lavoro. Il
                    processo di &quot;check-in&quot; è spiegato più avanti in
                    queste istruzioni.</li>

                    <li>La scheda del task ha alcune sezioni aggiuntive:
                    istruzioni supplementari (informazioni relative alle
                    immagini su cui si sta per lavorare. In alcuni casi,
                    sarà necessario regolare le immagini nell'editor iD),
                    informazioni su come accreditare le modifiche (quello
                    che è necessario copiare e incollare nell'editor iD
                    di modo che le modifiche possono essere registrate
                    correttamente) e la cronologia relativa a questo
                    task.</li>

                    <li>Per lavorare sul tuo riquadro, selezionare
                    l'editor iD delle opzioni degli strumenti di
                    modifica. Si aprirà una nuova scheda o finestra nel
                    tuo browser.</li>

                    <li>Se necessario, puoi regolare le immagini
                    satellitari da fare combaciare con le modifiche
                    esistenti sulla mappa:

                      <ul>
                        <li>Clicca sul pulsante dei layers</li>

                        <li>Scorri verso il basso fino a "allinea"</li>

                        <li>Usa le freccia sulla tastiera per allineare
                        le immagini satellitari ad alta risoluzione con
                        la modifiche già presenti sulla. Potrebbe essere
                        necessario dovere aumentare lo zoom per portare a
                        termine questa operazione efficacemente.</li>
                      </ul>
                    </li>

                    <li>Aggiungi strade, sentieri, edifici ed aree
                    presenti nel tuo riquadro. Quando si effettua una
                    modifica sulla mappa verrà visualizzata una finestra
                    di dialogo. Se durante il tracciamento non conosci il
                    nome specifico della strada o di un edificio, va bene
                    così. Per esempio, quando si seleziona il pulsante
                    "Edificio" (Building) nell'editor iD, la modifica
                    sulla mappa viene automaticamente etichettata come un
                    edificio.</li>

                    <li>Ogni volta che si salvano le modifiche fatte alla
                    mappa esse sono associate al tuo nome utente. Una
                    collezione di modifiche sulla mappa sono chiamati un
                    "changeset" (insieme di modifiche), e ogni qual volta
                    si fa un salvataggio sostanzialmente si sta facendo
                    un "commit" sul database di OSM. L'editor iD ti
                    chiederà se vuoi fornire un "messaggio di commit" al
                    tuo changeset; questa informazione ci aiuterà a
                    capire quando una modifica è stata fatta come parte
                    del progetto MapGive.</li>

                    <li>Per associare le tue modifiche a MapGive:

                      <ul>
                        <li>Ritorna alla scheda del browser mangiatoia
                        del gestore di task di OpenStreetMap.</li>

                        <li>Scorri fino alla sezione "credit" nella
                        scheda attività.</li>

                        <li>Copia l'attribuzione e fai clic di nuovo
                        sulla scheda del browser dove hai aperto l'editor
                        iD.</li>

                        <li>Incollare la stringa di attribuzione nella
                        sezione tag della finestra di dialogo.</li>
                      </ul>
                    </li>

                    <li>Quando hai terminato o se desideri interrompere
                    la mappatura di un riquadro ritorno al gestore di
                    task di OpenStreetMap.</li>

                    <li>A questo punto puoi "sbloccare il task" o
                    "segnarlo come completo". Sbloccare il task significa
                    che avete fatto alcune dei modifiche, ma che
                    rimangono altre da fare. Segnalare l'attività come
                    completa significa che il riquadro è completamente
                    mappato.</li>

                    <li>Quando si sblocca un task, il task manager
                    consente di inserire dei commenti. È possibile
                    indicare in quale percentuale il riquadro è
                    completato o quali sono gli elementi specifici che
                    devono essere ancora mappati. Se non hai alcuna nota
                    particolare da aggiungere, scrivi "nessun
                    commento".</li>

                    <li><strong>SUGGERIMENTO:</strong> Sbloccare di un
                    task = renderlo di nuovo disponibile ("check
                    in")</li>

                    <li>Se hai salvato le modifiche nell'editor iD,
                    resteranno disponibili per gli altri o per voi quando
                    tornerete a mappare quell'area.</li>

                    <li>Grazie per aver deciso di imparare a mappare e di
                    fare la differenza. Se hai bisogno di ulteriori
                    informazioni, guarda il tutorial video su questo
                    sito.</li>
                  </ul><br />

                  <p>Congratulazioni per aver completato il punto 3 &mdash;
                  Inizia a mappare!</p>
                </dd>
              </dl>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-9 col-md-9">
              <h3 id="select-a-task">Seleziona un task</h3>

              <ul class="tasks">
                <li><a href="http://tasks.hotosm.org/job/445">Nimule, Sud
                Sudan</a></li>

                <li><a href="http://tasks.hotosm.org/job/458">Punia,
                Repubblica Democratica del Congo</a></li>

                <li><a href="http://tasks.hotosm.org/job/468">Kalima,
                Repubblica Democratica del Congo</a></li>

                <li><a href="http://tasks.hotosm.org/job/467">Kasese,
                Repubblica Democratica del Congo</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ol>
    </section>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include more-info.html %}
    {% include kepha-ngito.html %}
  </div>
</div>
