---
layout: default
title: Perché mappare? 
twitterDescription: "Le iniziative di mappatura collaborativa hanno bisogno di più volontari mappatori. Unisciti a loro. #MapGive"
ogDescription: "Partecipa alle iniziative di mappatura collaborativa ed aiuta la comunità umanitaria internazionali nei suoi sforzi di soccorso. #MapGive, mettiamo insieme le nostre risorse."
ogImage: "/assets/img/the-cause.jpg"
ogVideo: "https://youtu.be/tryHJ0OklN4"
emailSubject: Diventa un volontario per le iniziative di mappatura collaborativa.
emailDescription: "Per diventare un volontario per le iniziative di mappatura collaborativa tutto ciò di cui hai bisogno sono delle competenze informatiche di base. I mappatori usano delle immagini satellitari che vengono acquistate e messe a disposizione dal governo degli Stati Uniti per tracciare il profilo dei territori e creare mappe aperte e libere che possano essere usate dalla comunità umanitaria per le operazioni di soccorso."
---

<div class="row">
  <div class="col-md-8">
    <header role="header">
      <h1 class="page-title">{{ page.title }}</h1>
    </header>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include social-media.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <p>Volontari come te possono aiutare a tracciare strade
    edifici e case con OpenStreetMap, questo sarà di aiuto alle
    missioni umanitarie. MapGive è una guida per impare come si
    fa. <a class="action-link" href="http://mapgive.openstreetmap.it/impara-a-mappare/">Impara a mappare</a>
    </p>

    <section>
      <div class="video">
        <div class="video-player-container shadowed" data="C175zW8-6j8" tabindex="0">
          <img alt="YouTube video: La Causa. Premere la barra spaziatrice o Invio per riprodurre il video." class="img-responsive" src="/assets/img/the-cause.jpg" />
          <div class="play"><span class="play-button"></span></div>
        </div>

        <p class="caption"><a href="/trascrizioni/la-buona-causa.html">Leggi la trascrizione del video.</a></p>
      </div>
    </section>

    <section>
      <div class="media">
        <div class="pull-left media-object"></div>
        <div class="media-body">
          <header>
            <h2 class="media-heading">Che cosa posso fare io?</h2>
          </header>

          <p>Unisciti alla comunità di mappatori
          volontari online. Puoi dare un grande
          contributo, ti serve solo una connessione
          Internet e delle competenze informatiche di
          base, anche se non vivi nella zona che stai
          mappando. Puoi utilizzare le immagini
          satellitari per tracciare i contorni di strade,
          strutture e caratteristiche del terreno per
          creare dati aperti disponibili che possono essere
          utilizzati per produrre mappe che aiutano i
          progetti umanitari e di sviluppo.</p>

          <p>Ci sono diversi modi per partecipare ed
          aiutare le iniziative umanitarie di mappatura
          collaborativa. Questo sito fornisce un percorso
          di apprendimento: <a class="action-link" href=
          "http://mapgive.openstreetmap.it/impara-a-mappare/">impara
          a mappare</a></p>
        </div>
      </div>
    </section>

    <section>
      <div class="media">
        <div class="pull-left media-object"></div>
        <div class="media-body">
          <header>
            <h2 class="media-heading">Perché dovrei mappare?</h2>
          </header>

            <p>Dati geografici di qualità aiutano
            organizzazioni umanitare e
            comunità locali a prendere decisioni
            importanti in una vasta gamma di temi ambientali,
            economici e di gestione delle crisi.
            Per molti luoghi del mondo, queste
            informazioni sono incomplete o non esistono
            affatto. Le mappe umanitarie digitali
            disponibili online contribuisconi a rendere
            disponibili a tutti i dati di cui ogni comunità
            ha bisogno per costruire un futuro più
            sostenibile.</p>
        </div>
      </div>
    </section>

    <section>
      <div class="media last">
        <div class="pull-left media-object"></div>
        <div class="media-body">
          <header>
            <h2 class="media-heading">Perché OpenStreetMap?</h2>
          </header>

            <p>Attraverso la <a href=
            "http://www.openstreetmap.org/copyright"
            target="_blank">licenza Open Data Commons Open
            Database License 1.0</a> , i contributori di
            OpenStreetMap (OSM) possono
            modificare e condividere i dati pubblicamente.
            Ci sono molte altre mappe gratuite su Internet,
            ma la maggior parte hanno restrizioni legali o
            tecniche che impediscono di utilizzare i dati
            liberamente. Con OSM sia le mappe che i dati
            sottostanti possono essere scaricati
            gratuitamente e liberamente, permettendo a
            chiunque di utilizzarli e redistribuirli,
            compresi gli sviluppatori. Inoltre, in molti
            luoghi del mondo dove non c'è alcuna pressione
            commerciale a sviluppare questi dati, OSM è
            spesso la migliore risorsa disponibile.</p>
        </div>
      </div>
    </section>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include more-info.html %}
    {% include tyler-machado.html %}
  </div>
</div>

