---
layout: default
title: Storie
twitterDescription: "Vuoi una prova che l'open mapping aiuta le persone? Leggi le storie di #MapGive."
ogDescription: "Leggi alcuni esempi di come le mappe digitale sono utilizzate per salvare vite e sviluppare le comunità."
ogImage: "/assets/img/kepha-ngito.jpg"
emailSubject: Le mappe digitali sono usate per salvare vite e costruire comunità.
emailDescription: "Le mappe giocano un ruolo importante in ogni fase delle operazioni di soccorso. Leggi alcuni esempi di come una mappa può salvare vite e potenziare lo sviluppo di una comunità."
---

<div class="row">
  <div class="col-md-8">
    <header role="header">
      <h1 class="page-title">{{ page.title }}</h1>
    </header>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include social-media.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      {% for story in site.categories.storie %}
      <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
          <a href="{{ story.url }}" class="image">
            <img src="{{ story.image }} " alt="{{ story.altText }}" class="img-responsive shadowed" />
          </a>
          <div class="caption">
            <h3><a href="{{ story.url }}">{{ story.title }}</a></h3>
            <p><strong>Località:</strong> {{ story.country }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
