---
layout: default
title: A proposito dell'Open Mapping
twitterDescription: "Aiuta OpenStreetMap a costruire una mappa digitale libera del mondo intero, #MapGiveIT"
ogDescription: "OpenStreetMap (OSM) è un progetto non-profit che sta costruendo una mappa digitale del mondo."
ogImage: "/assets/img/open-graph-logo.png"
emailSubject: Scopri come dei volontari stiano aiutando, online, a creare delle mappe digitali libere.
emailDescription: "OpenStreetMap (OSM) è un progetto non-profit che sta costruendo una mappa digitale libera del mondo intero."
---

<div class="row">
  <div class="col-md-8">
    <header role="header">
      <h1 class="page-title">{{ page.title }}</h1>
    </header>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include social-media.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <p>Con Open Mapping, o mappatura collaborativa, si indicano i
    progetti dove più volontari lavorano insieme per creare una mappa
    libera del mondo. Queste mappe giocano un ruolo critico nelle
    missioni umanitarie e di sviluppo. Scopri tutte le componenti di
    MapGive e di MapgiveIT.</p>

    <article>
      <div class="media">
        <div class="pull-left media-object">
          <span class="osm"></span>
        </div>

        <div class="media-body">
          <header>
            <h2 class="media-heading">OpenStreetMap</h2>
          </header>

          <p><a href="http://www.openstreetmap.org/" target=
          "_blank">OpenStreetMap</a> (OSM) è un progetto
          non-profit supportato dalla OpenStreetMap Foundation con sede nel
          Regno Unito che sta costruendo una mappa digitale libera del mondo.
          Numerosi volontari online (i "mapper") contribuiscono dei dati
          che servono a creare una mappa accurato, dettagliata ed
          aggiornata. Ci sono molte mappe gratuite su Internet, ma questi
          altri casi i dati sottostanti spesso non sono disponibili a
          tutti e non possono essere utilizzati a causa di limitazioni
          legali o tecniche. OpenStreetMap apre la mappa ed i suoi dati
          al pubblico e li rende liberi da modificare e utilizzare con
          una licenza aperta ( <a href=
          "http://www.openstreetmap.org/copyright" target="_blank">Open
          Data Commons Open Database License 1.0)</a> .</p>
        </div>
      </div>
    </article>

    <article>
      <div class="media">
        <div class="pull-left media-object">
          <span class="hot"></span>
        </div>

        <div class="media-body">
          <header>
            <h2 class="media-heading">Humanitarian OpenStreetMap Team</h2>
          </header>

          <p>L'<a href="http://hot.openstreetmap.org/" target=
          "_blank">Humanitaria OpenStreetMap Team</a> (HOT, squadra
          umanitaria OpenStreetMap, in italiano) coordina la creazione,
          la produzione e la distribuzione di mappe libere per sostenere
          gli aiuti umanitari in molti luoghi del mondo attraverso
          OpenStreetMap. Gli sforzi dell'HOT hanno avuto un impatto
          significativo nel supporto delle operazioni di soccorso
          successive al terremoto di Haiti nel 2010. Il gruppo, che è
          stato lanciato nel gennaio 2009 e successivamente diventato nel
          2010 una organizzazione non profit negli Stati Uniti decondo la
          legge 501c(3) , ha come missione è quella di applicare i
          principi dell'open source e della condivisione dei dati aperti
          alle risposte umanitarie e di sviluppo economico.</p>
        </div>
      </div>
    </article>

    <article>
      <div class="media">
        <div class="pull-left media-object">
          <span class="dos"></span>
        </div>

        <div class="media-body">
          <header>
            <h2 class="media-heading">Imagery to the Crowd</h2>
          </header>

          <p><a href="https://hiu.state.gov/ittc/ittc.aspx" target=
          "_blank">Imagery to the Crowd</a> (IttC) fa parte della
          Humanitarian Information Unit (HIU, unità per le informazioni
          umanitarie, in italiano) del Dipartimento di Stato degli Stati
          Uniti d'America. La HIU fornisce informazioni ai decisori del
          governo degli Stati Uniti ed ai loro collaboratori nella
          preparazione delle risposte alle emergenze umanitarie nel
          mondo, promuove tecnologie innovative e le migliori pratiche
          per la gestione delle informazioni umanitarie. IttC pubblica
          immagini satellitari commerciali ad alta risoluzione di
          immagini satellitari acquistati dal governo degli Stati Uniti,
          in un formato che i volontari possono facilmente mappare più in
          OpenStreetMap. ITTC ha come obiettivo di rispondere alle lacune
          di dati più significative per i bisogni delle missioni
          umanitari e di sviluppo.</p>
        </div>
      </div>
    </article>

    <article>
      <div class="media">
        <div class="pull-left media-object">
          <span class="mapgive"></span>
        </div>

        <div class="media-body">
          <header>
            <h2 class="media-heading">Mapgive</h2>
          </header>

          <p><a href="http://mapgive.state.gov/" target=
          "_blank">Mapgive</a> è un progetto che fa parte del
          programma "Imagery to the Crowd" dell'unità informazioni umanitarie
          del Dipartimento di Stato degli Stati Uniti. Mapgive vuole trovare
          nuovi volontari per e coinvolgerli nelle attività on-line legate
          all'open mapping su OpenStreetMap attraverso le attività
          dell'Humanitarian OpenStreetMap Team. Questo sito, MapgiveIT,
          ne è la traduzione in italiano, con l'aggiunta di informazioni e
          casi d'uso relativi all'Italia.</p>
        </div>
      </div>
    </article>

    <article>
      <div class="media">
        <div class="pull-left media-object">
          <span class="fbk"></span>
        </div>

        <div class="media-body">
          <header>
            <h2 class="media-heading">Digital Commons Lab, Fondazione Bruno Kessler</h2>
          </header>

          <p>Il progetto MapGiveIT è stato incubato dal
          <a href="http://digitalcommonslab.fbk.eu/it" target="_blank">Digital
          Commons Lab</a> della Fondazione Bruno Kessler (FBK) di Trento. Il
          Digital Commons Lab (DCL) è un  progetto esplorativo il cui scopo è
          studiare, supportare, divulgare e innovare il mondo dei beni comuni
          digitali (<em>digital commons</em>).
          Il Digital Commons Lab è anche il gruppo all'interno della Fondazione
          Bruno Kessler con lo scopo di rappresentare il nodo di Trento dell'
          <a href="http://theodi.org/" target="_blank">Open Data Institute</a>
          (UK).</p>
        </div>
      </div>
    </article>

    <article>
      <div class="media last">
        <div class="pull-left media-object">
          <span class="osmit"></span>
        </div>

        <div class="media-body">
          <header>
            <h2 class="media-heading">Comunità italiana di OpenStreetMap</h2>
          </header>
          <p>La comunità italiana di OpenStreetMap è l'insieme delle persone
          di lingua italiana che contribuiscono ad OpenStreetMap. La comunità
          utilizza vari strumenti per comunicare tra cui il sito <a href="http://openstreetmap.it/"
          target="_blank">openstreetmap.it</a> e la mailing list <a href="https://lists.openstreetmap.org/listinfo/talk-it"
          target="_blank">talk-it</a>.</p>
        </div>
      </div>
    </article>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include more-info.html %}
    {% include alyssa-wright.html %}
  </div>
</div>

