---
layout: default
title: Ulteriori informazioni
twitterDescription: "Chi ha contributo a #MapGiveIT"
ogDescription: "MapGiveIT è la traduzione e localizzazione in italiano del progetto MapGive."
ogImage: "/assets/img/open-graph-logo.png"
emailSubject: Ulteriori informazioni su MapGiveIT
emailDescription: "MapGiveIT è la traduzione e localizzazione in italiano del progetto MapGive della HIU del Dipartimento di Stato, è stato prodotto dal Digital Commons Lab della Fondazione Bruno Kessler di Trento e dalla comunità italiana di OpenStreetMap"
---

<div class="row">
  <div class="col-md-8">
    <header role="header">
      <h1 class="page-title">{{ page.title }}</h1>
    </header>
  </div>
  <div class="col-md-offset-1 col-md-3">
    {% include social-media.html %}
  </div>
</div>
<div class="row">
  <div class="col-md-8">

    <p>MapgiveIT è la traduzione e localizzazione in italiano del progetto
    Mapgive della Humanitarian Information Unit del Dipartimento di Stato, è
    stato prodotto dal Digital Commons Lab della Fondazione Bruno Kessler di
    Trento e dalla comunità italiana di OpenStreetMap.

    La versione originale, in inglese, si trova sul sito
    <a href="http://mapgive.state.gov" target="_blank">mapgive.state.gov</a>.
    </p>

    <article>
      <div class="media">
        <div class="pull-left media-object">
          <span class="cc0"></span>
        </div>

        <div class="media-body">
          <header>
            <h2 class="media-heading">Copyright</h2>
          </header>

          <p>Il progetto Mapgive è rilasciato dal Dipartimento di Stato nel
          Pubblico Dominio:
            <blockquote class="quotecopy" cite="http://www.state.gov/misc/87529.htm#copyright">
              <p>Unless a copyright is indicated, information on State Department
              websites is in the public domain and may be copied and
              distributed without permission. Citation of the U.S. State
              Department as source of the information is appreciated.</p>
            </blockquote>
          La pagina sulle <a href="http://www.state.gov/misc/87529.htm#copyright"
          target="_blank"> informazioni di copyright</a> originali contiene
          ulteriori informazioni.

          Anche questa traduzione è rilasciata nello stesso spirito secondo le
          condizioni del waiver <a href="https://creativecommons.org/publicdomain/zero/1.0/"
          target="_blank">Creative Commons zero 1.0 Universal (CC0 1.0) -
          Public Domain Dedication</a> ed anche per MapgiveIT è gradita
          l'attribuzione a questo sito quando se ne riusano i materiali.
          Per un elenco completo degli autori si veda la sezione seguente.
          </p>
        </div>
      </div>
    </article>

    <article>
      <div class="media">
        <div class="pull-left media-object">
          <span class="authors"></span>
        </div>

        <div class="media-body">
          <header>
            <h2 class="media-heading">Autori</h2>
          </header>

          <p>La traduzione di MapgiveIT è stata effettuata ad opera del Digital
          Commons Lab della Fondazione Bruno Kessler di Trento e della
          comunità italiana di OpenStreetMap.
          In particolare hanno partecipato alla traduzione:
          <ul>
            <li>Cristian Consonni - Digital Commons Lab, Fondazione Bruno
            Kessler</li>
            <li>Simone Cortesi</li>
            <li>Stefano Sabatini</li>
            <li>Maurizio Napolitano - Digital Commons Lab, Fondazione Bruno
            Kessler</li>
            <li>Leonardo Frassetto</li>
            <li>Giovanni Cascafico</li>
            <li>Alessandro (Zena)</li>
            <li>Simone F. (Groppo)</li>
          </ul>
          Un ringraziamento va anche a tutti coloro i quali hanno segnalato
          errori e refusi e in particolare alla lista <a href="https://lists.openstreetmap.org/listinfo/talk-it"
          target="_blank">talk-it</a> di OpenStreetMap ed alla Humanitarian
          Information Unit (HIU) del Dipartimento di Stato degli Stati Uniti
          per il supporto fornito durante la traduzione.</p>

          Si ringrazia la Humanitarian Information Unit (HIU) per il supporto
          fornito durante la traduzione.

          <dl class="js-accordion accordion">
            <dt id="title1" tabindex="0">Credits in English</dt>

            <dd id="panel1">
              <p>This work is released in the public domain with the
              <a href="https://creativecommons.org/publicdomain/zero/1.0/"
              target="_blank">Creative Commons zero 1.0 Universal (CC0 1.0) -
              Public Domain Dedication</a>, but citation of this page is
              appreciated.</p>

              <p>This work is derived from the original website <a href="http://mapgive.state.gov"
              target="_blank">mapgive.state.gov</a>, by the Humanitarian
              Information Unit (HIU) of the U.S. State Department (<a href="http://www.state.gov/misc/87529.htm#copyright"
              target="_blank">copyright information</a>).</p>

              <p>The translation of MapgiveIT has been realized by the
              <a href="http://digitalcommonslab.fbk.eu" target="_blank">
              Digital Commons Lab</a> of the <a href="http://www.fbk.eu"
              target="_blank">Fondazione Bruno Kessler</a> of Trento and
              by the Italian Community of OpenStreetMap.
              The following people have contributed to MapgiveIT:
              <ul>
                <li>Cristian Consonni - Digital Commons Lab, Fondazione Bruno Kessler</li>
                <li>Simone Cortesi</li>
                <li>Stefano Sabatini</li>
                <li>Maurizio Napolitano - Digital Commons Lab, Fondazione Bruno Kessler</li>
                <li>Leonardo Frassetto</li>
                <li>Giovanni Cascafico</li>
                <li>Alessandro (Zena)</li>
                <li>Simone F. (Groppo)</li>
              </ul>

              A special thank goes to everybody who contributed reporting bugs
              and misprints and in particular to the <a href="https://lists.openstreetmap.org/listinfo/talk-it"
              target="_blank">talk-it</a> OpenStreetMap mailing list and to
              the Humanitarian Information Unit of the State Department of the
              United States of America for the assistance provided with the
              translation.</p>
            </dd>
          </dl>
        </div>
      </div>
    </article>

    <article>
      <div class="media">
        <div class="pull-left media-object">
          <span class="code"></span>
        </div>

        <div class="media-body">
          <header>
            <h2 class="media-heading">Codice</h2>
          </header>

          <p>Tutto il codice di Mapgive è disponibile su
          <a href="https://github.com/" target="_blank">Github</a>:
            <ul>
              <li><a href="https://github.com/state-hiu/Mapgive" target="_blank">Repository Mapgive</a> (inglese)</li>
              <li><a href="https://github.com/osmItalia/MapgiveIT" target="_blank">Repository MapgiveIT</a> (italiano)</li>
            </ul>
          </p>
        </div>
      </div>
    </article>

    <article>
      <div class="media last">
        <div class="pull-left media-object">
          <span class="docu"></span>
        </div>

        <div class="media-body">
          <header>
            <h2 class="media-heading">Informazioni sulla privacy</h2>
          </header>

          <p>Non è necessario alcun tipo di autenticazione per usufruire dei
          contenuti di questo sito, ma  viene utilizzato Google Analytics per
          raccogliere delle statistiche e pertanto sono utilizzati dei cookie.
          Nella sezione sottostante sono indicate le istruzioni per bloccare i
          cookie da parte di questo sito.</p>

          <dl class="js-accordion accordion">
            <dt id="title2" tabindex="0">Dettagli</dt>

            <dd id="panel2">
              <p>Le condizioni seguenti sono ricalcate dall'ottimo esempio
              fornito dal <a href="http://www.unimi.it/62210.htm">sito
              dell'università Statate di Milano</a>.</p>

              <p>Questo sito utilizza dei cookie di monitoraggio avvalendosi del
              servizio Google Analytics di Google, Inc. (di seguito "Google")
              per la generazione di statistiche sull'utilizzo di queste pagine;
              Google Analytics utilizza cookie (non di terze parti) che non
              memorizzano dati personali. Le informazioni ricavabili dai cookie
              sull’utilizzo del sito web da parte degli utenti (compresi gli
              indirizzi IP) verranno trasmesse dal browser dell'utente a Google,
              con sede a 1600 Amphitheatre Parkway, Mountain View, CA 94043,
              Stati Uniti, e depositate presso i server della società stessa.

              Secondo i <a href="http://www.google.com/analytics/terms/it.html"
              target="_blank">termini di servizio</a> in essere, Google
              utilizzerà queste informazioni, in qualità di titolare autonomo
              del trattamento, allo scopo di tracciare e esaminare l’utilizzo
              del sito web, compilare report sulle attività del sito ad uso
              degli operatori del sito stesso e fornire altri servizi relativi
              alle attività del sito web, alle modalità di connessione (mobile,
              pc, browser utilizzato etc) e alle modalità di ricerca e
              raggiungimento delle pagine del sito. Google può anche trasferire
              queste informazioni a terzi ove ciò sia imposto dalla legge o
              laddove tali terzi trattino le suddette informazioni per conto di
              Google. Google non associerà gli indirizzi IP a nessun altro dato
              posseduto da Google.

              Per consultare l'informativa privacy di Google, relativa al
              servizio Google Analytics, si prega di visitare
              <a href="http://www.google.com/intl/en/analytics/privacyoverview.html"
              target="_blank">questa pagina</a> (in inglese).

              Per conoscere le norme sulla privacy di Google, si invita a vistare
              <a href="http://www.google.com/intl/it/privacy/privacy-policy.html"
              target="_blank">questa pagina</a> (in inglese).

              Utilizzando questo sito, si acconsente al trattamento dei propri
              dati da parte di Google per le modalità e i fini sopra indicati.</p>

              <header>
                <h4 class="media-heading">Come disabilitare i cookie (opt-out)</h4>
              </header>
              
              <p>È possibile negare il consenso all'utilizzo dei cookie selezionando
              l'impostazione appropriata sul proprio browser.
              Di seguito forniamo i link che spiegano come disabilitare i cookie
              per i browser più diffusi (per altri browser eventualmente
              utilizzati suggeriamo di cercare questa opzione nell'help del
              software normalmente disponibile attraverso il tasto F1):
              <ul>
                <li><a href="http://support.mozilla.org/it/kb/Bloccare%20i%20cookie?redirectlocale=en-US&redirectslug=Blocking+cookies">Mozilla Firefox</a></li>
                <li><a href="https://support.google.com/chrome/bin/answer.py?hl=it-IT&answer=95647&p=cpn_cookies">Google Chrome</a></li>
                <li><a href="http://windows.microsoft.com/it-IT/windows7/Block-enable-or-allow-cookies">Internet Explorer</a></li>
                <li><a href="http://www.apple.com/it/privacy/use-of-cookies/Link verso un sito esterno">Apple Safari</a></li>
              </ul>

              In alternativa è possibile disabilitare soltanto i cookie di Google
              Analytics, utilizzando il <a href="https://tools.google.com/dlpage/gaoptout?hl=it">
              componente aggiuntivo</a> di opt-out fornito da Google per i browser
              principali.
              </p>
            </dd>
          </dl>
        </div>
      </div>
    </article>
  </div>

  <div class="col-md-offset-1 col-md-3">
    {% include more-info.html %}
  </div>
</div>
